*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header{
    background-color: #2c3e50;
    color:white;
    text-align: center;
    padding: 2rem;
}
#boton-tema{
    background-color: #e2e2e2;
    border-radius: 1rem;
    padding: 5px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modo-oscuro{
    background-color: #1a1a1a !important;
    color: #f4f4f4 !important;
}
.modo-oscuro .tarjeta-proyecto, .modo-oscuro nav, .modo-oscuro header, .modo-oscuro footer{
    background-color: #2c2c2c;
    color: #fff;
    border-color: #444;
}

nav{
    background-color: #34495e;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
 nav li{
    margin: 0 15px;
 }

 nav a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    display:block;
 }
 
 nav a:hover{
    background-color: #e74c3c;
 }

 main{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }

 section{
    margin-bottom: 30px;
 }

 h2{
    color:#e74c3c;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
 }

.tarjeta-proyecto {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    margin-top:20px;
}

@media (min-width:768px){
    .modo-oscuro{
        grid-template-columns: repeat(auto-fit, minmax(250px,));
    }
    nav ul {
        justify-content: flex-end;
        padding-right: 50px;
    }
}

@media (max-width: 480px){
    nav li{
        margin: 5px 0;
        width: 100%;
    }

    nav ul{
        flex-direction: column;
        padding: 0;
    }

    nav a{
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}